# Virtual environments
venv/
env/
.venv/
ENV/
env.bak/
.env

# Virtualenv subdirectories (if nested)
**/venv*/
**/env*/
**/.venv/
GenAI_IBM_COURSE/module2-RAG/rag-venv

# Related files
pip-log.txt
pip-delete-this-directory.txt
.tox/

# site Packages
GenAI_IBM_COURSE/module1-GenAI/genai/Lib/site-packages/
GenAI_IBM_COURSE/module1-GenAI/genai/Lib/site-packages/**
GenAI_IBM_COURSE/module2-RAG/rag-venv/Lib/site-packages/**
